
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-3 mb-0 text-muted">© 2021 MEGACLOTHES CORP</p>

    <ul class="nav col-md-8 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted fs-1">Inicio</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Preguntas Frecuentes</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Quienes Somos</a></li>
      <li class="nav-item"><a href="/terms" class="nav-link px-2 text-muted">Terminos y Condiciones</a></li>
    </ul>
  </footer>
</div>
