<div class="container">
 <h1 class="py-4">Cambios y Devoluciones</h1>
 <h3 class="py-4">Por favor tome en cuenta lo siguiente:</h3>
 <p>
   Para cambiar tu producto, hazlo directamente con el vendedor mostrando tu boleta.
   Si tu producto fue vendido por nosotros, acércate a cualquiera de sus tiendas con tu boleta.
   Si quieres saber más, revisa nuestras nuevas Políticas de cambios y devoluciones.
 </p>
 <br>
 <a href="/terms">Políticas de cambios y devoluciones.</a> 
 <br>
 <br>
 <p>Cambia o devuelve tu producto en la ubicacion del proveedor. Encuentra la boleta en tu correo y muéstrala desde el celular.</p>
 
   
 
</div>
