<div class="container text-center">
  <h1 class="py-4">Terminos y Condiciones</h1>
  <p>
     1. Aceptación de Términos y Condiciones Generales


     Los presentes Términos y Condiciones Generales (en lo sucesivo, los “Términos y Condiciones”) regulan el uso y los servicios prestados a través del portal web MEGACLOTHES.pe (el, “Portal”) que MEGACLOTHES Inversiones S.A.C., identificada con RUC Nº 20606066091, con domicilio en la Av. El Derby 254 of. 704, distrito de Santiago de Surco, provincia y departamento de Lima (en adelante, “MEGACLOTHES”) pone a disposición de sus usuarios.

     Los Términos y Condiciones regulan el acceso y el uso del Portal por parte del Usuario. La condición de “Usuario” es adquirida desde la mera navegación en el Portal y/o su utilización.

     El acceso y utilización del Portal por parte del Usuario es libre y gratuito, con excepción de aquellos servicios que son suministrados por MEGACLOTHES o por terceros a través del Portal y que se encuentran sujetos a condiciones particulares.

     Asimismo, el acceso y navegación por parte del Usuario en el Portal implica la aceptación sin reservas de todas las disposiciones incluidas en los presentes Términos y Condiciones, en tal sentido, el Usuario deberá revisar los Términos y condiciones cada vez que se proponga hacer uso del Portal.



     2. Objeto.

     MEGACLOTHES facilita a los Usuarios el acceso a diversa información y Servicios relacionados –principalmente- al contacto directo entre personas naturales y jurídicas con la finalidad de que realicen actividades de comercialización, compra, venta, arrendamiento, y cualquier otro tipo de actividad comercial respecto MEGACLOTHESinaria pesada y repuestos en el mercado secundario, así como también al procesamiento de información, análisis de datos en el mercado, manejo de estadísticas entre otros ofrecidos, publicados y publicitados por MEGACLOTHES a través del Portal.



     3. Modificación de los Términos y Condiciones

     MEGACLOTHES se reserva expresamente el derecho a modificar, actualizar, ampliar o reducir  en cualquier momento – y sin necesidad de previo aviso- los Términos y Condiciones.

     Cualquier modificación –descrita en el párrafo precedente- en los Términos y Condiciones entrará en vigencia al momento de su publicación, por lo cual es responsabilidad del Usuario verificar los Términos y Condiciones vigentes al momento de la navegación o uso del Portal.

     Cada Usuario tendrá el derecho de rechazar las modificaciones realizadas en  los Términos y Condiciones. Para hacer ejercicio del derecho descrito anteriormente, el Usuario deberá poner en conocimiento a MEGACLOTHES respecto de su negativa de aceptar las modificaciones. Ante el rechazo descrito previamente, MEGACLOTHES cumplirá –de manera inmediata- con dar de baja al Usuario de su sistema, con lo cual este último quedará inhabilitado en adelante para hacer uso de los servicios.

      

     4. Uso del Portal

     Los servicios ofrecidos por medio del Portal se encontrarán disponibles –únicamente- para aquellas personas que se encuentren facultadas para celebrar contratos legalmente vinculantes de conformidad con lo establecido por la normativa aplicable. Teniendo en consideración lo expuesto anteriormente, el Usuario declara ser mayor de 18 años de edad y encontrarse facultado a asumir obligaciones vinculantes con respecto a cualquier tipo de responsabilidad que se produzca por el uso del Portal.



     El Usuario se compromete a utilizar el Portal de conformidad con la Ley, los presentes Términos y Condiciones, la moral, las buenas costumbres y el orden público. En este sentido, el Usuario se compromete a hacer uso del portal cumpliendo con –como mínimo- las siguientes directrices:

     - El Usuario se obliga a no utilizar el Portal para fines ilícitos o contrarios al contenido de los presentes Términos y Condiciones, ni con fines que puedan: (i) resultar lesivos a los intereses o derechos de terceros (ii) de cualquier forma puedan dañar, inutilizar, deteriorar la plataforma; y/o (iii) impedir el normal uso y disfrute del Portal de los demás Usuarios.

     - El Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en el Portal.

     - El Usuario se compromete a no obstaculizar el acceso a otros Usuarios mediante el consumo masivo de los recursos informáticos a través de los cuales MEGACLOTHES presta el servicio, así como a no realizar acciones que dañen, interrumpan o generen errores en dichos sistemas o servicios.

     - El Usuario se compromete a no intentar penetrar o probar la vulnerabilidad de un sistema o de una red propia del Portal, así como intentar quebrantar las medidas de seguridad o de autenticación del mismo.

     - El Usuario se compromete a hacer un uso adecuado de los contenidos que se ofrecen en el Portal y a no emplearlos para incurrir en actividades ilícitas, así como a no publicar ningún tipo de contenido ilícito.

     - El Usuario se compromete a no utilizar el presente Portal para- sin que los siguientes supuestos sean limitativos- enviar correos electrónicos masivos (spam) o correos electrónicos con contenido amenazante, abusivo, hostil, ultrajante, difamatorio, vulgar, obsceno o injurioso. Del mismo modo, se compromete a no utilizar un lenguaje abusivo, amenazante, obsceno, vulgar, racista, ni anunciar o proporcionar enlaces a sitios que contengan materia ilegal u otro contenido que pueda dañar o deteriorar la red personal o computadora de otro Usuario.

     En caso de incumplimiento o sospecha razonable de incumplimiento de los supuestos citados anteriormente –sin que esta lista sea de carácter taxativo- MEGACLOTHES-con la finalidad de garantizar la seguridad, confidencialidad y buen funcionamiento del Portal- a su solo criterio, se reserva el derecho a limitar, suspender o terminar el acceso del usuario infractor a los servicios del Portal, para lo cual MEGACLOTHES podrá hacer uso de cualquier medida técnica y/o legal que estime conveniente.

      

     5. Registro y contraseñas

     El Usuario podrá hacer uso del Portal sin necesidad de registrarse en una cuenta. No obstante, algunos servicios sólo serán accesibles mediante el registro previo en el Portal, para lo cual el Usuario deberá completar el formulario de registro implementado para tales efectos. El procedimiento de registro es totalmente gratuito y deberá ser efectuado de forma diligente, correcta y lícita, por lo cual el Usuario declara aportar –bajo responsabilidad- información veraz, actual, suficiente y autentica al llenar dicho formulario. 

     El Usuario registrado contará con una clave o password con la cual podrá acceder a su cuenta personal. Cada Usuario es responsable de su propia contraseña, y deberá mantenerla bajo absoluta reserva y confidencialidad, sin revelarla o compartirla- en ningún supuesto- con algún tercero. Cada Usuario es responsable de todas las acciones realizadas mediante el uso de su contraseña. Las acciones realizadas a través de la cuenta de un Usuario se presumen realizadas por el Usuario titular de dicha cuenta. Teniendo en consideración lo expuesto anteriormente: (i) El Usuario asume la responsabilidad por el mantenimiento de la confidencialidad de su Contraseña; y, (ii) MEGACLOTHES no asumirá ninguna responsabilidad por el uso –indebido o de un tercero- de la referida contraseña.

     En el escenario de que un Usuario identificara que un tercero conociera y/o usara su contraseña y su cuenta personal, deberá notificarlo de manera inmediata a MEGACLOTHES.

     MEGACLOTHES puede- a su solo criterio- requerir el cambio de un nombre de Usuario y contraseña cuando considere que una cuenta no cumple con los estándares mínimos de seguridad, o si se recibe alguna queja o denuncia respecto al nombre de un Usuario que viole derechos de terceros. Asimismo, puede rechazar el registro de un Usuario, cancelar su cuenta o no permitir el acceso a los servicios que ofrece el Portal-sin que los siguientes supuestos sean limitativos- en caso: (i) se incumpla con los presentes Términos y Condiciones, (ii) se incurra en posibles infracciones de carácter legal; y/o, (iii) se efectúe un uso inadecuado del Portal.

      

     6. Propiedad Intelectual e Industrial

     Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el Portal son propiedad de MEGACLOTHES o de sus respectivos titulares, sin que pueda entenderse que el uso o acceso al Portal y/o a los servicios atribuya al Usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o signos distintivos. En todos los casos el uso de marcas, nombres comerciales o signos distintivos de terceros en el Portal son únicamente con fines informativos para el Usuario del Portal y los consumidores en general.

     Asimismo los contenidos, imágenes, reseñas, textos y otros Derecho de Propiedad Intelectual e Industrial que aparecen en el Portal son de titularidad de MEGACLOTHES o de sus respectivos titulares y/o autores, sin que puedan entenderse cedidos en su derecho de uso, reproducción, distribución, comercialización, modificación o explotación comercial en cualquier forma, al Usuario. En virtud de lo establecido en los presentes Términos y Condiciones, ninguno de los derechos existentes o que puedan existir en el futuro sobre dichos contenidos, imágenes, reseñas, textos y otros Derecho de Propiedad Intelectual, podrán ser utilizado por el Usuario más allá de lo estrictamente necesario para el correcto uso del Portal y de los Servicios ofrecidos, y siempre bajo los principios de buena fe y uso honesto de los mismos.

     MEGACLOTHES quedará eximido de toda responsabilidad por los daños y perjuicios de cualquier naturaleza que puedan deberse a la violación de signos distintivos o derechos de propiedad intelectual por parte de los usuarios y/o terceros.

     El Usuario no puede descargar, copiar, reproducir, volver a publicar, enviar por correo electrónico, transmitir, almacenar, vender o distribuir los datos y otros derechos de propiedad intelectual sin el permiso escrito previo de MEGACLOTHES o del titular del derecho de propiedad intelectual, salvo que se trate de descargar una copia en cualquier ordenador únicamente para uso personal y/o doméstico, siempre que se mantengan intactas las advertencias sobre derechos de propiedad intelectual y cualquier otra advertencia de propiedad. Está prohibido modificar el contenido o usar parte del contenido o la información proporcionada para otro propósito que no sea el establecido en los presentes Términos y Condiciones.



     7. Contenido publicado por los Usuarios

     MEGACLOTHES no garantiza la veracidad, exactitud, exhaustividad y actualidad de los contenidos publicados por los Usuarios en el Portal. Es responsabilidad del Usuario garantizar la autenticidad, veracidad y actualización de la información que publica en el Portal. En cualquier caso el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que pudiera causar al Portal o a terceros por la información que facilite.

     MEGACLOTHES no se hace responsable por los contenidos ya sean estos, imágenes, fotos, textos o cualquier otro tipo de material digital, publicados por terceros en el Portal y traslada toda responsabilidad a cada Usuario proveedor de dichos contenidos.

     El Usuario deberá ofrecer los bienes en las categorías y subcategorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos, siempre que no violen ninguna disposición de los presentes Términos y Condiciones. El producto ofrecido por el Usuario debe ser exactamente descrito en cuanto a sus condiciones y características.

     Se entiende y presume que mediante la inclusión de un bien en el Portal, el Usuario tiene la intención y el derecho de vender, arrendar y en general comercializar el bien ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados sin IGV.



     8. Enlaces de terceros

     MEGACLOTHES se encuentra facultada para disponer libremente de aquellos espacios que no han sido contratados por terceros en su portal web, para los fines que considere necesarios, incluyendo la colocación de enlaces, links, banners, botones, herramientas de búsqueda o cualquier medio que permita a los consumidores finales acceder a sitios web pertenecientes a terceros. En tal sentido, los espacios que no han sido contratados, podrán ser utilizados de la forma que MEGACLOTHES estime conveniente, pudiendo ser utilizados para fines publicitarios a discrecionalidad.

     En el supuesto de que en el Portal se dispusieran enlaces o hipervínculos hacia otros sitios de Internet, MEGACLOTHES declara que no ejerce ningún tipo de control sobre dichos sitios y contenidos. Teniendo en consideración lo expuesto previamente, bajo ningún supuesto MEGACLOTHES asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a una página web ajena, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, veracidad, validez de cualquier material o información contenida a partir de los hipervínculos u otros lugares de Internet.

     Estos enlaces se proporcionan únicamente para informar al Usuario sobre la existencia de otras fuentes de información sobre un tema concreto, y la inclusión de un enlace no implica la aprobación de la página web enlazada por parte de MEGACLOTHES.



     9. Limitación de responsabilidad e indemnidad

     Como se expresó anteriormente, el Usuario reconoce y acepta que el uso del Portal se realiza en todo momento bajo su entero riesgo y responsabilidad, por lo que MEGACLOTHES no se responsabiliza del mal uso o Acceso indebido que pueda realizarse del Portal.                                                                                                                            

     En particular, MEGACLOTHES no será responsable de:

     - El contenido de los sitios enlazados a través de los enlaces (links) incluidos dentro del Portal.

     - La inexactitud, falsedad, irregularidades y/o actos que puedan considerarse contrarios a la moral, usos y buenas costumbres que puedan contener los materiales publicitarios de los anunciantes o de los patrocinadores; quienes asumen directamente toda responsabilidad por ello.

     - Los daños y perjuicios de cualquier tipo causados en los equipos informáticos del Usuario por virus, gusanos informáticos, troyanos o cualquier otro elemento dañino. El Usuario reconoce que el uso de la red Internet supone la asunción de un riesgo de que sus equipos informáticos puedan ser afectados por los elementos antes enunciados. En ese sentido, corresponde al Usuario, en todo caso, la disponibilidad de herramientas adecuadas para la detección y eliminación de programas electrónicos dañinos. Para más información, el Usuario puede acudir a su proveedor de servicios de acceso a Internet para las soluciones pertinentes.

     - Los daños y perjuicios de cualquier tipo producidos al Usuario que tengan su causa en fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del uso del Portal. A este respecto, el Usuario reconoce que el uso del Portal requiere de servicios suministrados por terceros ajenos al control de MEGACLOTHES (a modo de ejemplo: operadores de redes de telecomunicaciones, proveedores de acceso, etc.); cuya fiabilidad, idoneidad, calidad, continuidad y funcionamiento, no corresponden a MEGACLOTHES.

     - La calidad, utilidad e idoneidad de los productos contratados por el Usuario en el Portal. En tal sentido, MEGACLOTHES no responderá por las posibles reclamaciones que puedan formular los Usuarios relacionadas con la calidad o adecuación de los productos o bienes contratados. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propia cuenta y riesgo, y se compromete a mantener al margen a MEGACLOTHES, sus directivos, empleados, representantes y apoderados de todo reclamo que pueda llegar a entablar en contra de otros Usuarios del Portal.



     10. Minería Ilegal

     En caso alguno de los Usuarios que pretende utilizar los servicios ofrecidos en el Portal se dedique a la actividad minera, este declara –bajo responsabilidad- que cuenta con la respectiva “Autorización de Inicio/Reinicio de  Operaciones Mineras” otorgada por  la autoridad  competente. Asimismo, declara que cumple con las  exigencias de las normas de carácter administrativo, técnico, social y medioambiental, las mismas que permiten que la MEGACLOTHESinaria, equipo o repuesto que pretende adquirir o arrendar, así como los demás servicios –relacionados con MEGACLOTHESinaria pesada- que pudiera contratar a través del Portal, están referidos a MEGACLOTHESinas que corresponden a las características de la actividad minera que desarrolla y que serán utilizadas –únicamente- en el área establecida en la referida Autorización (zona no prohibida para la actividad minera).

     Del mismo modo, aquel Usuario que no se dedica a la actividad minera declara –bajo responsabilidad- que los bienes o servicios a los que acceda a través del

     Portal no serán utilizados para la realización de actividades relacionadas a la minería ilegal. Del mismo modo, declara que no es contratista, ni presta servicios, ni arrienda bienes a clientes dedicados a la minería ilegal, ni realiza actividades vinculadas a operaciones de lavado de dinero o de activos en general.

     MEGACLOTHES se reserva el derecho de tomar las acciones legales y técnicas que estime conveniente frente a algún incumplimiento o sospecha razonable de incumplimiento de la presente cláusula de minería ilegal, teniendo la libertad desde ya para inhabilitar a aquellos usuarios que – a su solo criterio- considere potenciales infractores a las normas de minería ilegal aplicables y a los presentes Términos y Condiciones.



     11. Datos de Carácter Personal

     Los distintos tratamientos de datos personales que MEGACLOTHES realiza a través del Portal, así como las finalidades de dichos tratamientos serán detallados específicamente en la Política de Privacidad del Portal a la que el Usuario podrá acceder a través del siguiente enlace: Política de Privacidad.



     12. Comunicaciones

     El Usuario acepta expresamente que la dirección de correo electrónico consignada en el formulario de registro será el medio de contacto oficial entre el Portal y el Usuario, siendo absoluta responsabilidad de este último verificar que dicho correo electrónico esté siempre activo y funcional para poder recibir todas las comunicaciones procedentes del Portal.

     Los mensajes o comunicaciones del Portal a los Usuarios sólo pueden provenir de las páginas o cuentas oficiales de éste en redes sociales u otros medios. En caso se detectara que algún Usuario está enviando comunicaciones o realizando publicaciones en nombre del Portal, MEGACLOTHES iniciará las acciones correctivas y legales pertinentes a fin de proteger al resto de Usuarios del de posibles riesgos de confusión.

     De otro lado, toda comunicación que el Usuario desee dirigir al Portal deberá realizarla ingresando a la sección “Contáctanos” que se colocará en la página de inicio del Portal.



     13. Fuerza mayor

     MEGACLOTHES no será responsable de cualquier incumplimiento o retraso en el cumplimiento de cualquiera de sus obligaciones en virtud de estos Términos y Condiciones, cuando ello sea causado por un hecho que escape de su control, caso fortuito, hecho determinante de terceros o fuerza mayor.



     Fuerza mayor significa para el propósito de esta cláusula, cualquier acto o hecho fuera del control razonable de MEGACLOTHES, incluyendo, sin limitación, huelgas, cierres patronales u otras medidas reivindicativas por terceros, por defecto del proveedor o retraso, conmoción civil, disturbios, invasión, ataque terrorista o amenaza de ataque terrorista, guerra (declarada o no), o amenaza o preparación para la guerra, incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural, o el fracaso de las redes de telecomunicaciones públicas o privadas.

     De darse un evento de fuerza mayor, que afecte al cumplimiento de las obligaciones de MEGACLOTHES, las obligaciones pactadas y plazos serán automáticamente suspendidos hasta la culminación de los hechos de Fuerza Mayor. Una vez superado el evento de fuerza mayor los plazos continuarán con su cómputo.



     14. Libro de Reclamaciones               

     Conforme a lo establecido por la Ley N° 29571- Código de Protección y Defensa del Consumidor, el Portal cuenta con un Libro de Reclamaciones Virtual, el mismo que se encuentra a disposición del Usuario a efectos de que este último –cuando lo estime conveniente- pueda registrar sus quejas o reclamos formales respecto de los servicios que son ofrecidos mediante el Portal. El referido Libro de Reclamaciones puede ser ubicado en el siguiente enlace: http://MEGACLOTHES.pe/#/complaints-book .



     15. Autoridades y requerimientos legales

     MEGACLOTHES coopera con las autoridades competentes y con terceros para garantizar el cumplimiento de las leyes en materia de protección de derechos de propiedad industrial e intelectual, prevención del fraude, protección al consumidor y otras materias.

     MEGACLOTHES podrá revelar la información personal de Usuarios del Portal bajo requerimiento de las autoridades judiciales o gubernamentales competentes, en la medida en que discrecionalmente lo entienda necesario, para efectos de investigaciones conducidas por ellas, cuando se trate de investigaciones de carácter penal o de fraude, o las relacionadas con piratería informática, la violación de derechos de autor, infracción de derechos de propiedad intelectual u otra actividad ilícita o ilegal que pueda exponer al Portal o a sus Usuarios a cualquier responsabilidad legal.

     Asimismo, MEGACLOTHES se reserva el derecho de comunicar información sobre sus Usuarios a otros Usuarios, a entidades o a terceros, cuando haya motivos suficientes para considerar que la actividad de un Usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar a otras personas. Este derecho será utilizado por MEGACLOTHES a su entera discreción cuando lo considere apropiado o necesario para mantener la integridad y seguridad del Portal y la de sus Usuarios, para hacer cumplir los presentes Términos y Condiciones, y a efectos de cooperar con la ejecución y cumplimiento de la ley.



     16. Inexistencia de Relación Laboral

     El uso y disfrute del Portal y los servicios ofrecidos en este no implica –bajo ningún supuesto- la existencia alguna relación laboral entre el Usuario y MEGACLOTHES. En ese sentido, el Usuario declara reconocer que el vínculo que existe en virtud del uso del Portal es de la naturaleza civil.



     17. Cesión de Posición Contractual

     El Usuario no podrá transferir o ceder, parcial o totalmente, su posición, derechos ni sus obligaciones derivadas de los Términos y Condiciones, salvo autorización previa, expresa y por escrito de MEGACLOTHES.                               

     Por su parte WALU se encuentra plenamente facultado para ceder sus derechos u obligaciones en el presente Contrato para lo cual cuenta -desde ya-con la autorización del Usuario.

      

     18. Ley aplicable y jurisdicción

     Los Términos y Condiciones rigen bajo la ley peruana y en caso de existir cualquier disputa que se produzca con relación a la validez, aplicación o interpretación de los mismos, incluyendo la Política de Privacidad, esta será resuelta en los tribunales del Cercado de Lima.

     
     © 2022 MEGACLOTHES
  </p>
</div>