.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}



.fa-heart {
  font-size: 0.9rem;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #fff;
}

.btn-like {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 10;
}

.btn-like:hover .fa-heart {
  background-color: rgba(255, 255, 255, 0.884);
}
