.cards-lists {
  display: grid;
  grid-gap: 56px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  max-width: 340px;
  border-radius: 6px;
  transition: 0.4s;

  .card-body {
    background-color: white;
  }

  h5 {
    margin: 0;
  }

  img {
    padding: 20px 20px 0px 20px;
    height: 230px;
  }

  .reviews {
    position: absolute;
    bottom: -10px;
  }

  .buy {
    width: 100%;
    transition: 0.4s;
    padding-bottom: 25px;
  }

  .fa-star, .fa-star-half-alt, small {
    transition: 0.4s;
    opacity: 0;
  }

  &:hover {
    transform: translateY(-4px);
  }

  &:hover .card-img-overlay {
    background: #48484809;
  }

  &:hover .fa-star, &:hover .fa-star-half-alt, &:hover small {
    transform: translateY(-10px);
    opacity: 1;
  }

}
